  
/* * {
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
   box-sizing: border-box;

}  */   



  .title-1, h2 {
             color: blue;
             background: yellow !important;
             margin: 20px 
         }      
         .title-2 {
             color: red
         }      
         .title-3 {
             color: orange
         }    
         /*
         #title {
               background: green;
         }  */
        .italic {
              font-style: italic;
        }  
        a {
            color: cyan
        }
        
        a:visited {
            color: red
        }

        a:hover {
            background: black;
        }

        p {
            color: blue;
            font-size: 12px;
        }

        p:first-child{
            color: orange
        }

        p:last-child{
            color: green
        }

        p:nth-child(2) {
            font-size: 20px;
        }

        p:nth-child(even){
            background: yellow;
        }
        
        p:nth-child(odd) {
            background: gray;
        }

        h1 p:first-letter {
                 font-size: 100px;
        }

        div {
            border: dashed 5px red;
            margin: 20px;
            padding: 20px;

        } 

        .cuadrado, .circulo {
            width: 100px;
            height: 100px;
            background: cyan;
            border: 2px solid blue;
            border-radius: 10px;
        }
        .circulo {
            border-radius: 50%;
            box-shadow: 10px 5px 5px rgba(0, 0, 0.2);
        }



